<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer__body">
                <div class="footer__left">
                    <a href="./" class="footer__logo">
                        <img src="img/logo1.webp" alt="">
                    </a>
                </div>
                <div class="footer__right">
                    <div class="contacts">
                        <a href="tel:79230398080" class="contacts__phone">+7 (923)
                            039-80-80</a>
                        <div data-da=".footer__left, 768, last" class="socials">
                            <a href="./">
                                <div class="socials__circle"></div>
                                <img src="img/icons/max.svg" alt="">
                            </a>
                            <a href="./">
                                <div class="socials__circle"></div>
                                <img src="img/icons/telegram.svg" alt="">
                            </a>
                            <a href="./">
                                <div class="socials__circle"></div>
                                <img src="img/icons/whatsapp.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <a href="./" class="footer__up">
                        <img loading="lazy" src="img/icons/arrow3.svg" alt="">
                        <span>Наверх</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer__bottom">
            <div class="footer__copy">
                2026 © Краска дешево от производителя
            </div>
            <a href="./">
                Политика конфиденциальности
            </a>
        </div>
    </div>
</footer>