<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__content">
                <div class="header__left">
                    <a href="./" class="header__logo">
                        <img src="img/logo1.webp" alt="">
                    </a>
                    <div class="header-rating">
                        <div class="header-rating__value">
                            <span>4,9</span>
                        </div>
                        <div class="header-rating__body">
                            <div data-rating data-rating-size="5" data-rating-value="4" class="rating">
                            </div>
                            <div class="header-rating__title">
                                <span>Рейтинг в Яндекс</span> на
                                основании 415 отзывов
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__right">
                    <div class="contacts">
                        <a data-da=".header__menu, 992, last" href="tel:79230398080" class="contacts__phone">+7 (923)
                            039-80-80</a>
                        <div class="socials">
                            <a href="./">
                                <div class="socials__circle"></div>
                                <img src="img/icons/max.svg" alt="">
                            </a>
                            <a href="./">
                                <div class="socials__circle"></div>
                                <img src="img/icons/telegram.svg" alt="">
                            </a>
                            <a href="./">
                                <div class="socials__circle"></div>
                                <img src="img/icons/whatsapp.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <a href="./" data-da=".header__menu, 768, last" data-popup="#call" class="btn">
                        <span>Заказать звонок</span>
                    </a>
                    <div class="header__icon">
                        <div class="icon-menu">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header__menu">
            <ul>
                <li>
                    <a href="./">
                        <strong>Краска</strong>
                    </a>
                </li>
                <li>
                    <a href="./">
                        <strong>Грунтовка</strong>
                    </a>
                </li>
                <li>
                    <a href="./">
                        <strong>Аксессуары</strong>
                    </a>
                </li>
                <li>
                    <a href="./">
                        Гарантии
                    </a>
                </li>
                <li>
                    <a href="./">
                        Колеровка
                    </a>
                </li>
                <li>
                    <a href="./">
                        Условия
                    </a>
                </li>
                <li>
                    <a href="./">
                        Доставка
                    </a>
                </li>
                <li>
                    <a href="./">
                        Галерея
                    </a>
                </li>
                <li>
                    <a href="./">
                        Отзывы
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>