<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Главная</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro">
                <div class="container">
                    <div class="block-intro__content">
                        <div class="block-intro__body">
                            <h1 class="title1">
                                Краска от производителя в Ивановской области
                            </h1>
                            <ul>
                                <li>
                                    <div class="block-intro__icon"></div>
                                    <div class="block-intro__text">
                                        <strong>100% оптовые</strong> цены на всю продукцию
                                    </div>
                                </li>
                                <li>
                                    <div class="block-intro__icon"></div>
                                    <div class="block-intro__text">
                                        Оперативная доставка <strong>во все регионы страны</strong>
                                    </div>
                                </li>
                                <li>
                                    <div class="block-intro__icon"></div>
                                    <div class="block-intro__text">Колеровка <strong>в 5 000+</strong> цветов</div>
                                </li>
                                <li>
                                    <div class="block-intro__icon"></div>
                                    <div class="block-intro__text">Технические <strong>консультации</strong></div>
                                </li>
                            </ul>
                            <a href="./" data-popup="#call" class="btn">
                                <span>Заказать звонок</span>
                            </a>
                        </div>
                        <div class="block-intro__image">
                            <img src="img/image1.webp" alt="" class="block-intro__pic1">
                            <img src="img/image2.webp" alt="" class="block-intro__pic2">
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-catalog block1">
                <div class="container">
                    <h2 class="title2">Наша продукция</h2>
                    <div data-tabs class="tabs">
                        <div class="tabs__top">
                            <div class="tabs__scroll">
                                <nav data-tabs-titles class="tabs__navigation">
                                    <button type="button" class="tabs__title _tab-active"><span>Краска</span></button>
                                    <button type="button" class="tabs__title"><span>Грунтовка</span></button>
                                    <button type="button" class="tabs__title"><span>Аксессуары</span></button>
                                </nav>
                            </div>
                            <a href="./" download class="btn btn-transparent">
                                <img loading="lazy" src="img/icons/arrow4.svg" alt="">
                                <span>Получить каталог</span>
                            </a>
                        </div>
                        <div data-tabs-body class="tabs__content">
                            <div class="tabs__body">
                                <div data-filters class="block-catalog__content">
                                    <div class="tabs-filter">
                                        <div data-filter="all" class="tabs-filter__title active">
                                            <span>Все</span>
                                        </div>
                                        <div data-filter="vodnaya" class="tabs-filter__title">
                                            <span>Водная</span>
                                        </div>
                                        <div data-filter="3in1" class="tabs-filter__title">
                                            <span>3в1</span>
                                        </div>
                                        <div data-filter="dlya-polov" class="tabs-filter__title">
                                            <span>Для полов</span>
                                        </div>
                                        <div data-filter="rezinovaya" class="tabs-filter__title">
                                            <span>Резиновая</span>
                                        </div>
                                    </div>
                                    <div class="block-catalog__cards">
                                        <div data-filter="vodnaya" class="product-card">
                                            <div class="product-card__images">
                                                <div class="product-card__image">
                                                    <img loading="lazy" src="img/image1.webp" alt="">
                                                </div>
                                            </div>
                                            <div class="product-card__item">
                                                <div class="product-card__titles">
                                                    <div class="product-card__title">
                                                        Фасадная акриловая краска
                                                    </div>
                                                    <p>
                                                        для наружной и внутренней окраски стен и фасадов. Покрытие,
                                                        устойчивое к влаге, ультрафиолету и перепадам температур. Баз:
                                                        А/С
                                                    </p>
                                                </div>
                                                <ul>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>190 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Розница</div>
                                                    </li>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>86 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Опт</div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a href="./" data-popup="#card" class="btn"><span>Подробнее</span></a>
                                        </div>
                                        <div data-filter="3in1" class="product-card">
                                            <div class="product-card__images">
                                                <div class="product-card__image">
                                                    <img loading="lazy" src="img/image3.webp" alt="">
                                                </div>
                                            </div>
                                            <div class="product-card__item">
                                                <div class="product-card__title">
                                                    Моющаяся акриловая краска
                                                </div>
                                                <p>
                                                    для нанесения на обои, оштукатуренные, бетонные, гипсовые,
                                                    деревянные поверхности внутри помещений. Баз: А/С
                                                </p>
                                                <ul>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>190 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Розница</div>
                                                    </li>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>86 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Опт</div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a href="./" data-popup="#card" class="btn"><span>Подробнее</span></a>
                                        </div>
                                        <div data-filter="dlya-polov" class="product-card">
                                            <div class="product-card__images">
                                                <div class="product-card__image">
                                                    <img loading="lazy" src="img/image4.webp" alt="">
                                                </div>
                                            </div>
                                            <div class="product-card__item">
                                                <div class="product-card__title">
                                                    Интерьерная акриловая краска
                                                </div>
                                                <p>
                                                    для нанесения на обои, оштукатуренные, бетонные, гипсовые,
                                                    деревянные поверхности внутри помещений. Баз: А/С
                                                </p>
                                                <ul>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>190 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Розница</div>
                                                    </li>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>86 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Опт</div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a href="./" data-popup="#card" class="btn"><span>Подробнее</span></a>
                                        </div>
                                        <div data-filter="rezinovaya" class="product-card">
                                            <div class="product-card__images">
                                                <div class="product-card__image">
                                                    <img loading="lazy" src="img/image1.webp" alt="">
                                                </div>
                                            </div>
                                            <div class="product-card__item">
                                                <div class="product-card__title">
                                                    Акриловая краска для деревьев
                                                </div>
                                                <p>
                                                    для защиты садовых деревьев от вредителей, солнечных ожогов,
                                                    механических повреждений, обеспечивает защиту от грибка и плесени.
                                                </p>
                                                <ul>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>190 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Розница</div>
                                                    </li>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>86 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Опт</div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a href="./" data-popup="#card" class="btn"><span>Подробнее</span></a>
                                        </div>
                                        <div data-filter="vodnaya" class="product-card">
                                            <div class="product-card__images">
                                                <div class="product-card__image">
                                                    <img loading="lazy" src="img/image5.webp" alt="">
                                                </div>
                                            </div>
                                            <div class="product-card__item">
                                                <div class="product-card__title">
                                                    Фасадная акриловая краска
                                                </div>
                                                <p>
                                                    для наружной и внутренней окраски стен и фасадов. Покрытие,
                                                    устойчивое к влаге, ультрафиолету и перепадам температур. Баз:
                                                    А/С
                                                </p>
                                                <ul>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>190 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Розница</div>
                                                    </li>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>86 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Опт</div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a href="./" data-popup="#card" class="btn"><span>Подробнее</span></a>
                                        </div>
                                        <div data-filter="vodnaya" class="product-card">
                                            <div class="product-card__images">
                                                <div class="product-card__image">
                                                    <img loading="lazy" src="img/image4.webp" alt="">
                                                </div>
                                            </div>
                                            <div class="product-card__item">
                                                <div class="product-card__title">
                                                    Фасадная акриловая краска
                                                </div>
                                                <p>
                                                    для наружной и внутренней окраски стен и фасадов. Покрытие,
                                                    устойчивое к влаге, ультрафиолету и перепадам температур. Баз:
                                                    А/С
                                                </p>
                                                <ul>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>190 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Розница</div>
                                                    </li>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>86 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Опт</div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a href="./" data-popup="#card" class="btn"><span>Подробнее</span></a>
                                        </div>
                                        <div data-filter="rezinovaya" class="product-card">
                                            <div class="product-card__images">
                                                <div class="product-card__image">
                                                    <img loading="lazy" src="img/image3.webp" alt="">
                                                </div>
                                            </div>
                                            <div class="product-card__item">
                                                <div class="product-card__title">
                                                    Фасадная акриловая краска
                                                </div>
                                                <p>
                                                    для наружной и внутренней окраски стен и фасадов. Покрытие,
                                                    устойчивое к влаге, ультрафиолету и перепадам температур. Баз:
                                                    А/С
                                                </p>
                                                <ul>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>190 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Розница</div>
                                                    </li>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>86 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Опт</div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a href="./" data-popup="#card" class="btn"><span>Подробнее</span></a>
                                        </div>
                                    </div>
                                    <a href="./" class="btn btn-transparent"><span>Показать еще</span></a>
                                </div>
                            </div>
                            <div class="tabs__body">
                                <div data-filters class="block-catalog__content">
                                    <div class="tabs-filter">
                                        <div data-filter="all" class="tabs-filter__title active">
                                            <span>Все</span>
                                        </div>
                                        <div data-filter="vodnaya" class="tabs-filter__title">
                                            <span>Водная</span>
                                        </div>
                                        <div data-filter="3in1" class="tabs-filter__title">
                                            <span>3в1</span>
                                        </div>
                                        <div data-filter="dlya-polov" class="tabs-filter__title">
                                            <span>Для полов</span>
                                        </div>
                                        <div data-filter="rezinovaya" class="tabs-filter__title">
                                            <span>Резиновая</span>
                                        </div>
                                    </div>
                                    <div class="block-catalog__cards">
                                        <div data-filter="3in1" class="product-card">
                                            <div class="product-card__images">
                                                <div class="product-card__image">
                                                    <img loading="lazy" src="img/image3.webp" alt="">
                                                </div>
                                            </div>
                                            <div class="product-card__item">
                                                <div class="product-card__title">
                                                    Моющаяся акриловая краска
                                                </div>
                                                <p>
                                                    для нанесения на обои, оштукатуренные, бетонные, гипсовые,
                                                    деревянные поверхности внутри помещений. Баз: А/С
                                                </p>
                                                <ul>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>190 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Розница</div>
                                                    </li>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>86 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Опт</div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a href="./" data-popup="#card" class="btn"><span>Подробнее</span></a>
                                        </div>
                                        <div data-filter="dlya-polov" class="product-card">
                                            <div class="product-card__images">
                                                <div class="product-card__image">
                                                    <img loading="lazy" src="img/image4.webp" alt="">
                                                </div>
                                            </div>
                                            <div class="product-card__item">
                                                <div class="product-card__title">
                                                    Интерьерная акриловая краска
                                                </div>
                                                <p>
                                                    для нанесения на обои, оштукатуренные, бетонные, гипсовые,
                                                    деревянные поверхности внутри помещений. Баз: А/С
                                                </p>
                                                <ul>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>190 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Розница</div>
                                                    </li>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>86 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Опт</div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a href="./" data-popup="#card" class="btn"><span>Подробнее</span></a>
                                        </div>
                                        <div data-filter="rezinovaya" class="product-card">
                                            <div class="product-card__images">
                                                <div class="product-card__image">
                                                    <img loading="lazy" src="img/image1.webp" alt="">
                                                </div>
                                            </div>
                                            <div class="product-card__item">
                                                <div class="product-card__title">
                                                    Акриловая краска для деревьев
                                                </div>
                                                <p>
                                                    для защиты садовых деревьев от вредителей, солнечных ожогов,
                                                    механических повреждений, обеспечивает защиту от грибка и плесени.
                                                </p>
                                                <ul>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>190 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Розница</div>
                                                    </li>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>86 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Опт</div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a href="./" data-popup="#card" class="btn"><span>Подробнее</span></a>
                                        </div>
                                        <div data-filter="vodnaya" class="product-card">
                                            <div class="product-card__images">
                                                <div class="product-card__image">
                                                    <img loading="lazy" src="img/image5.webp" alt="">
                                                </div>
                                            </div>
                                            <div class="product-card__item">
                                                <div class="product-card__title">
                                                    Фасадная акриловая краска
                                                </div>
                                                <p>
                                                    для наружной и внутренней окраски стен и фасадов. Покрытие,
                                                    устойчивое к влаге, ультрафиолету и перепадам температур. Баз:
                                                    А/С
                                                </p>
                                                <ul>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>190 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Розница</div>
                                                    </li>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>86 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Опт</div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a href="./" data-popup="#card" class="btn"><span>Подробнее</span></a>
                                        </div>
                                        <div data-filter="vodnaya" class="product-card">
                                            <div class="product-card__images">
                                                <div class="product-card__image">
                                                    <img loading="lazy" src="img/image4.webp" alt="">
                                                </div>
                                            </div>
                                            <div class="product-card__item">
                                                <div class="product-card__title">
                                                    Фасадная акриловая краска
                                                </div>
                                                <p>
                                                    для наружной и внутренней окраски стен и фасадов. Покрытие,
                                                    устойчивое к влаге, ультрафиолету и перепадам температур. Баз:
                                                    А/С
                                                </p>
                                                <ul>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>190 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Розница</div>
                                                    </li>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>86 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Опт</div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a href="./" data-popup="#card" class="btn"><span>Подробнее</span></a>
                                        </div>
                                    </div>
                                    <a href="./" class="btn btn-transparent"><span>Показать еще</span></a>
                                </div>
                            </div>
                            <div class="tabs__body">
                                <div data-filters class="block-catalog__content">
                                    <div class="tabs-filter">
                                        <div data-filter="all" class="tabs-filter__title active">
                                            <span>Все</span>
                                        </div>
                                        <div data-filter="vodnaya" class="tabs-filter__title">
                                            <span>Водная</span>
                                        </div>
                                        <div data-filter="3in1" class="tabs-filter__title">
                                            <span>3в1</span>
                                        </div>
                                        <div data-filter="dlya-polov" class="tabs-filter__title">
                                            <span>Для полов</span>
                                        </div>
                                        <div data-filter="rezinovaya" class="tabs-filter__title">
                                            <span>Резиновая</span>
                                        </div>
                                    </div>
                                    <div class="block-catalog__cards">
                                        <div data-filter="rezinovaya" class="product-card">
                                            <div class="product-card__images">
                                                <div class="product-card__image">
                                                    <img loading="lazy" src="img/image1.webp" alt="">
                                                </div>
                                            </div>
                                            <div class="product-card__item">
                                                <div class="product-card__title">
                                                    Акриловая краска для деревьев
                                                </div>
                                                <p>
                                                    для защиты садовых деревьев от вредителей, солнечных ожогов,
                                                    механических повреждений, обеспечивает защиту от грибка и плесени.
                                                </p>
                                                <ul>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>190 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Розница</div>
                                                    </li>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>86 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Опт</div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a href="./" data-popup="#card" class="btn"><span>Подробнее</span></a>
                                        </div>
                                        <div data-filter="dlya-polov" class="product-card">
                                            <div class="product-card__images">
                                                <div class="product-card__image">
                                                    <img loading="lazy" src="img/image4.webp" alt="">
                                                </div>
                                            </div>
                                            <div class="product-card__item">
                                                <div class="product-card__title">
                                                    Интерьерная акриловая краска
                                                </div>
                                                <p>
                                                    для нанесения на обои, оштукатуренные, бетонные, гипсовые,
                                                    деревянные поверхности внутри помещений. Баз: А/С
                                                </p>
                                                <ul>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>190 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Розница</div>
                                                    </li>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>86 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Опт</div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a href="./" data-popup="#card" class="btn"><span>Подробнее</span></a>
                                        </div>
                                        <div data-filter="vodnaya" class="product-card">
                                            <div class="product-card__images">
                                                <div class="product-card__image">
                                                    <img loading="lazy" src="img/image5.webp" alt="">
                                                </div>
                                            </div>
                                            <div class="product-card__item">
                                                <div class="product-card__title">
                                                    Фасадная акриловая краска
                                                </div>
                                                <p>
                                                    для наружной и внутренней окраски стен и фасадов. Покрытие,
                                                    устойчивое к влаге, ультрафиолету и перепадам температур. Баз:
                                                    А/С
                                                </p>
                                                <ul>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>190 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Розница</div>
                                                    </li>
                                                    <li>
                                                        <div class="product-card__name">
                                                            от <span>86 ₽</span>/кг
                                                        </div>
                                                        <div class="product-card__value">Опт</div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a href="./" data-popup="#card" class="btn"><span>Подробнее</span></a>
                                        </div>
                                    </div>
                                    <a href="./" class="btn btn-transparent"><span>Показать еще</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-guarantee block1">
                <div class="container">
                    <h2 class="title2">Гарантия качества</h2>
                    <div class="block-guarantee__body">
                        <div class="block-guarantee__column">
                            <div class="block-guarantee__items">
                                <div class="block-guarantee__icon">
                                    <img loading="lazy" src="img/icons/time.svg" alt="">
                                </div>
                                <div class="block-guarantee__item">
                                    <div class="block-guarantee__title">
                                        Предоставляем образцы материалов
                                    </div>
                                    <p>
                                        Рассказываем что делаем. Миллионы цветов на выбор. Делается нашим специалистом
                                        на
                                        специальном оборудовании.
                                    </p>
                                </div>
                                <div class="block-guarantee__number">01</div>
                            </div>
                        </div>
                        <div class="block-guarantee__column">
                            <div class="block-guarantee__items">
                                <div class="block-guarantee__icon">
                                    <img loading="lazy" src="img/icons/check2.svg" alt="">
                                </div>
                                <div class="block-guarantee__item">
                                    <div class="block-guarantee__title">
                                        Подбираем цвет по вашему образцу
                                    </div>
                                    <p>
                                        Рассказываем что делаем. Миллионы цветов на выбор. Делается нашим специалистом
                                        на
                                        специальном оборудовании.
                                    </p>
                                </div>
                                <div class="block-guarantee__number">02</div>
                            </div>
                        </div>
                        <div class="block-guarantee__column">
                            <div class="block-guarantee__items">
                                <div class="block-guarantee__icon">
                                    <img loading="lazy" src="img/icons/document.svg" alt="">
                                </div>
                                <div class="block-guarantee__item">
                                    <div class="block-guarantee__title">
                                        Предоставляем заверенные копии сертификатов
                                    </div>
                                    <p>
                                        Рассказываем что делаем. Миллионы цветов на выбор. Делается нашим специалистом
                                        на
                                        специальном оборудовании.
                                    </p>
                                </div>
                                <div class="block-guarantee__number">03</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-about-color block1">
                <div class="container">
                    <div class="block-about-color__content">
                        <div class="block-about-color__body">
                            <h2 class="title2">Блок про колеровку</h2>
                            <p>
                                Рассказываем что делаем. Миллионы цветов на выбор. Делается нашим специалистом на
                                специальном оборудовании. Необходимый цвет вы можете указать в заявке написав номер
                                пантона, һех код или примерный цвет, наш менеджер свяжется и уточнит параметры и
                                рассчитает точную стоимость краски и колера.
                            </p>
                            <a href="./" data-popup="#call" class="btn">
                                <span>Отправить нужный цвет</span>
                            </a>
                        </div>
                        <div class="block-about-color__image">
                            <img loading="lazy" src="img/image13.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-forms1 block1">
                <div class="container">
                    <div class="block-forms1__content">
                        <div class="block-forms1__form">
                            <div class="block-forms1__top">
                                <h2 class="title2">Свяжитесь с нашим менджером</h2>
                                <p>
                                    Чтобы мы помогли рассчитать стоимость краски
                                </p>
                            </div>
                            <form data-dev data-popup-message="#thanks" action="#" class="form">
                                <div class="form__contents">
                                    <div class="form__inputs">
                                        <div class="form__input">
                                            <input data-required autocomplete="off" type="text" name="form[]"
                                                data-error="Обязательное поле" placeholder="Имя">
                                        </div>
                                        <div class="form__input">
                                            <input data-required autocomplete="off" type="text" name="form[]"
                                                data-error="Обязательное поле" placeholder="+7" class="telephone">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn"><span>Оставить заявку</span></button>
                                </div>
                                <div class="form__text">
                                    Нажимая на “Оставить заявку”, я подтверждаю что согласен с <a href="./">политикой
                                        конфиденциальности</a>
                                </div>
                            </form>
                        </div>
                        <div class="block-forms1__image">
                            <img src="img/image12.webp" alt="" class="block-forms1__pic1">
                            <img src="img/image2.webp" alt="" class="block-forms1__pic2">
                            <svg class="gradient1" width="708" height="408" viewBox="0 0 708 408" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="354" cy="411" r="411" fill="url(#paint0_radial_5195_1873)" />
                                <defs>
                                    <radialGradient id="paint0_radial_5195_1873" cx="0" cy="0" r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(354 411) rotate(90) scale(411)">
                                        <stop stop-color="#0065F5" />
                                        <stop offset="1" stop-color="#1A1B1C" stop-opacity="0" />
                                    </radialGradient>
                                </defs>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-cooperation block1">
                <div class="container">
                    <h2 class="title2">Условия сотрудничества</h2>
                    <div class="block-cooperation__body">
                        <div class="block-cooperation__slider swiper">
                            <div class="block-cooperation__wrapper swiper-wrapper">
                                <div class="block-cooperation__slide swiper-slide">
                                    <div class="block-cooperation__items">
                                        <div class="block-cooperation__item">
                                            <div class="block-cooperation__title">Первый контакт</div>
                                            <p>
                                                Подберем вид документа, коды ТН ВЭД и правильные формулировки продукции,
                                                сориентируем по срокам, цене и
                                                рассчитаем скидки
                                            </p>
                                        </div>
                                        <div class="block-cooperation__number">
                                            01
                                        </div>
                                    </div>
                                </div>
                                <div class="block-cooperation__slide swiper-slide">
                                    <div class="block-cooperation__items">
                                        <div class="block-cooperation__item">
                                            <div class="block-cooperation__title">Расчет стоимости</div>
                                            <p>
                                                В договоре указываем сумму сертификации, сроки изготовления документов и
                                                прописываем наши гарантии
                                            </p>
                                        </div>
                                        <div class="block-cooperation__number">
                                            02
                                        </div>
                                    </div>
                                </div>
                                <div class="block-cooperation__slide swiper-slide">
                                    <div class="block-cooperation__items">
                                        <div class="block-cooperation__item">
                                            <div class="block-cooperation__title">Оплата b2b b2c</div>
                                            <p>
                                                Готовим и согласовываем с вами макет документа, чтобы на этом этапе по
                                                максимуму
                                                исключить ошибки и неточности и сэкономить ваше время
                                            </p>
                                        </div>
                                        <div class="block-cooperation__number">
                                            03
                                        </div>
                                    </div>
                                </div>
                                <div class="block-cooperation__slide swiper-slide">
                                    <div class="block-cooperation__items">
                                        <div class="block-cooperation__item">
                                            <div class="block-cooperation__title">Доставка</div>
                                            <p>
                                                Документ мы регистрируем в реестре. Скан готового сертификата или
                                                декларации
                                                отправляем вам по электронной почте, чтобы вы могли им уже пользоваться
                                            </p>
                                        </div>
                                        <div class="block-cooperation__number">
                                            04
                                        </div>
                                    </div>
                                </div>
                                <div class="block-cooperation__slide swiper-slide column-long">
                                    <div class="block-cooperation__items">
                                        <div class="block-cooperation__item">
                                            <div class="block-cooperation__title">Этап работы</div>
                                            <p>
                                                Оригинал сертификата или декларации и
                                                пакет закрывающих документов мы бесплатно отправим вам курьером или
                                                почтой. Для
                                                отслеживания отправления вы получите трек-номер
                                            </p>
                                        </div>
                                        <div class="block-cooperation__number">
                                            05
                                        </div>
                                        <img loading="lazy" src="img/image11.webp" alt=""
                                            class="block-cooperation__pic1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-cooperation__pagination"></div>
                    </div>
                </div>
            </div>

            <div class="block-delivery block1">
                <div class="container">
                    <div class="block-delivery__content">
                        <div class="block-delivery__image">
                            <img loading="lazy" src="img/image10.webp" alt="">
                        </div>
                        <div class="block-delivery__body">
                            <h2 class="title2">Доставка и оплата</h2>
                            <p>
                                Рассказываем что делаем. Миллионы цветов на выбор. Делается нашим специалистом на
                                специальном оборудовании. Необходимый цвет вы можете указать в заявке написав номер
                                пантона, һех код или примерный цвет, наш менеджер свяжется и уточнит параметры и
                                рассчитает точную стоимость краски и колера.
                            </p>
                            <a href="./" data-popup="#call" class="btn">
                                <span>Рассчитать доставку</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-gallery block1">
                <div class="container">
                    <h2 class="title2">
                        Фото и видео о нас
                    </h2>
                    <div data-tabs class="tabs">
                        <div class="tabs__scroll">
                            <nav data-tabs-titles class="tabs__navigation">
                                <button type="button" class="tabs__title _tab-active"><span>Фото</span></button>
                                <button type="button" class="tabs__title"><span>Видео</span></button>
                            </nav>
                        </div>
                        <div data-tabs-body class="tabs__content">
                            <div class="tabs__body">
                                <div class="block-gallery__body">
                                    <div class="block-gallery__slider swiper">
                                        <div class="block-gallery__wrapper swiper-wrapper">
                                            <a href="img/image6.webp" data-fancybox="photo"
                                                class="block-gallery__slide swiper-slide">
                                                <img loading="lazy" src="img/image6.webp" alt=""
                                                    class="block-gallery__pic1">
                                                <img loading="lazy" src="img/icons/zoom.svg" alt=""
                                                    class="block-gallery__zoom">
                                            </a>
                                            <a href="img/image8.webp" data-fancybox="photo"
                                                class="block-gallery__slide swiper-slide">
                                                <img loading="lazy" src="img/image8.webp" alt=""
                                                    class="block-gallery__pic1">
                                                <img loading="lazy" src="img/icons/zoom.svg" alt=""
                                                    class="block-gallery__zoom">
                                            </a>
                                            <a href="img/image9.webp" data-fancybox="photo"
                                                class="block-gallery__slide swiper-slide">
                                                <img loading="lazy" src="img/image9.webp" alt=""
                                                    class="block-gallery__pic1">
                                                <img loading="lazy" src="img/icons/zoom.svg" alt=""
                                                    class="block-gallery__zoom">
                                            </a>
                                            <a href="img/image6.webp" data-fancybox="photo"
                                                class="block-gallery__slide swiper-slide">
                                                <img loading="lazy" src="img/image6.webp" alt=""
                                                    class="block-gallery__pic1">
                                                <img loading="lazy" src="img/icons/zoom.svg" alt=""
                                                    class="block-gallery__zoom">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-gallery__arrow-prev arrow-prev">
                                        <img loading="lazy" src="img/icons/arrow2.svg" alt="">
                                    </div>
                                    <div class="block-gallery__arrow-next arrow-next">
                                        <img loading="lazy" src="img/icons/arrow2.svg" alt="">
                                    </div>
                                    <div class="block-gallery__pagination pagination"></div>
                                </div>
                            </div>
                            <div class="tabs__body">
                                <div class="block-gallery__body">
                                    <div class="block-gallery__slider swiper">
                                        <div class="block-gallery__wrapper swiper-wrapper">
                                            <a href="files/video1.mp4" data-fancybox="video"
                                                class="block-gallery__slide swiper-slide">
                                                <img loading="lazy" src="img/image6.webp" alt=""
                                                    class="block-gallery__pic1">
                                                <img loading="lazy" src="img/icons/play.svg" alt=""
                                                    class="block-gallery__play">
                                            </a>
                                            <a href="files/video1.mp4" data-fancybox="video"
                                                class="block-gallery__slide swiper-slide">
                                                <img loading="lazy" src="img/image8.webp" alt=""
                                                    class="block-gallery__pic1">
                                                <img loading="lazy" src="img/icons/play.svg" alt=""
                                                    class="block-gallery__play">
                                            </a>
                                            <a href="files/video1.mp4" data-fancybox="video"
                                                class="block-gallery__slide swiper-slide">
                                                <img loading="lazy" src="img/image8.webp" alt=""
                                                    class="block-gallery__pic1">
                                                <img loading="lazy" src="img/icons/play.svg" alt=""
                                                    class="block-gallery__play">
                                            </a>
                                            <a href="files/video1.mp4" data-fancybox="video"
                                                class="block-gallery__slide swiper-slide">
                                                <img loading="lazy" src="img/image6.webp" alt=""
                                                    class="block-gallery__pic1">
                                                <img loading="lazy" src="img/icons/play.svg" alt=""
                                                    class="block-gallery__play">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-gallery__arrow-prev arrow-prev">
                                        <img loading="lazy" src="img/icons/arrow2.svg" alt="">
                                    </div>
                                    <div class="block-gallery__arrow-next arrow-next">
                                        <img loading="lazy" src="img/icons/arrow2.svg" alt="">
                                    </div>
                                    <div class="block-gallery__pagination pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-forms2 block1">
                <div class="container">
                    <div class="block-forms2__content">
                        <div class="block-forms2__body">
                            <div class="block-forms2__title">
                                Рассчитаем стоимость краски под ваши задачи
                            </div>
                            <div class="block-forms2__socials">
                                <div class="block-forms2__socials-title">
                                    Свяжитесь с нами в мессенждере
                                </div>
                                <div class="socials">
                                    <a href="./">
                                        <img src="img/icons/max.svg" alt="">
                                    </a>
                                    <a href="./">
                                        <img src="img/icons/telegram.svg" alt="">
                                    </a>
                                    <a href="./">
                                        <img src="img/icons/whatsapp.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="block-forms2__form">
                            <div class="block-forms2__title2">Или заполните форму ниже</div>
                            <form data-dev data-popup-message="#thanks" action="#" class="form">
                                <div class="form__inputs">
                                    <div class="form__input">
                                        <input data-required autocomplete="off" type="text" name="form[]"
                                            data-error="Обязательное поле" placeholder="Имя">
                                    </div>
                                    <div class="form__input">
                                        <input data-required autocomplete="off" type="text" name="form[]"
                                            data-error="Обязательное поле" placeholder="+7" class="telephone">
                                    </div>
                                </div>
                                <button type="submit" class="btn"><span>Бесплатная консультация</span></button>
                                <div class="form__text">
                                    Нажимая на “Бесплатная консультация”, я подтверждаю что согласен с <a
                                        href="./">политикой
                                        конфиденциальности</a>
                                </div>
                            </form>
                        </div>
                        <img loading="lazy" src="img/image7.webp" alt="" class="block-forms2__pic1">
                        <svg class="gradient1" width="1426" height="397" viewBox="0 0 1426 397" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_5169_1238)">
                                <circle cx="713" cy="713" r="713" fill="url(#paint0_radial_5169_1238)" />
                            </g>
                            <defs>
                                <radialGradient id="paint0_radial_5169_1238" cx="0" cy="0" r="1"
                                    gradientUnits="userSpaceOnUse"
                                    gradientTransform="translate(713 713) rotate(90) scale(713)">
                                    <stop stop-color="#0065F5" />
                                    <stop offset="1" stop-color="#1A1B1C" stop-opacity="0" />
                                </radialGradient>
                                <clipPath id="clip0_5169_1238">
                                    <rect width="1426" height="397" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <svg class="gradient2" width="572" height="525" viewBox="0 0 572 525" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="411" cy="411" r="411" fill="url(#paint0_radial_5197_2129)" />
                            <defs>
                                <radialGradient id="paint0_radial_5197_2129" cx="0" cy="0" r="1"
                                    gradientUnits="userSpaceOnUse"
                                    gradientTransform="translate(411 411) rotate(90) scale(411)">
                                    <stop stop-color="#0065F5" />
                                    <stop offset="1" stop-color="#1A1B1C" stop-opacity="0" />
                                </radialGradient>
                            </defs>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="block-reviews block1">
                <div class="container">
                    <h2 class="title2">Что говорят наши клиенты</h2>
                    <div class="block-reviews__content">
                        <div class="block-reviews-top">
                            <div class="block-reviews-top__body">
                                <div class="block-reviews-top__left">
                                    <div class="block-reviews-top__title">
                                        Отзывы о нас
                                    </div>
                                </div>
                                <div class="block-reviews-top__rating">
                                    <img loading="lazy" src="img/icons/star1.svg" alt="">
                                    <div class="block-reviews-top__value">4.6</div>
                                    <div class="block-reviews-top__text">
                                        на основе 415 отзывов на Яндекс.отзывы
                                    </div>
                                </div>
                            </div>
                            <img loading="lazy" data-da=".block-reviews-top__left, 768, last" src="img/icons/logo2.svg"
                                alt="" class="block-reviews-top__logo1">
                        </div>
                        <div class="block-reviews__body">
                            <div class="block-reviews__slider swiper">
                                <div class="block-reviews__wrapper swiper-wrapper">
                                    <a href="./" class="block-reviews__slide swiper-slide">
                                        <div class="block-reviews__item">
                                            <div class="block-reviews__top">
                                                <img loading="lazy" src="img/avatar.webp" alt=""
                                                    class="block-reviews__pic1">
                                                <div class="block-reviews__titles">
                                                    <div class="block-reviews__name">Анастасия Лыкова</div>
                                                    <div class="block-reviews__data">8 февраля 2025</div>
                                                </div>
                                            </div>
                                            <div data-rating data-rating-size="5" data-rating-value="4" class="rating">
                                            </div>
                                            <p>
                                                Достоинства вежливый и приятный персонал, легко записаться, мало народу
                                                Недостатки мной не обнаружены Комментарий каждый год прохожу у них
                                                медосмотр. Все происходит быстро и четко. От медперсонала только
                                                приятное отношение. Я довольна.
                                            </p>
                                        </div>
                                        <img loading="lazy" src="img/icons/logo2.svg" alt=""
                                            class="block-reviews__logo1">
                                    </a>
                                    <a href="./" class="block-reviews__slide swiper-slide">
                                        <div class="block-reviews__item">
                                            <div class="block-reviews__top">
                                                <img loading="lazy" src="img/avatar.webp" alt=""
                                                    class="block-reviews__pic1">
                                                <div class="block-reviews__titles">
                                                    <div class="block-reviews__name">Анастасия Лыкова</div>
                                                    <div class="block-reviews__data">8 февраля 2025</div>
                                                </div>
                                            </div>
                                            <div data-rating data-rating-size="5" data-rating-value="5" class="rating">
                                            </div>
                                            <p>
                                                Достоинства вежливый и приятный персонал, легко записаться, мало народу
                                                Недостатки мной не обнаружены Комментарий каждый год прохожу у них
                                                медосмотр. Все происходит быстро и четко. От медперсонала только
                                                приятное отношение. Я довольна.
                                            </p>
                                        </div>
                                        <img loading="lazy" src="img/icons/logo2.svg" alt=""
                                            class="block-reviews__logo1">
                                    </a>
                                    <a href="./" class="block-reviews__slide swiper-slide">
                                        <div class="block-reviews__item">
                                            <div class="block-reviews__top">
                                                <img loading="lazy" src="img/avatar.webp" alt=""
                                                    class="block-reviews__pic1">
                                                <div class="block-reviews__titles">
                                                    <div class="block-reviews__name">Анастасия Лыкова</div>
                                                    <div class="block-reviews__data">8 февраля 2025</div>
                                                </div>
                                            </div>
                                            <div data-rating data-rating-size="5" data-rating-value="4" class="rating">
                                            </div>
                                            <p>
                                                Достоинства вежливый и приятный персонал, легко записаться, мало народу
                                                Недостатки мной не обнаружены Комментарий каждый год прохожу у них
                                                медосмотр. Все происходит быстро и четко. От медперсонала только
                                                приятное отношение. Я довольна.
                                            </p>
                                        </div>
                                        <img loading="lazy" src="img/icons/logo2.svg" alt=""
                                            class="block-reviews__logo1">
                                    </a>
                                    <a href="./" class="block-reviews__slide swiper-slide">
                                        <div class="block-reviews__item">
                                            <div class="block-reviews__top">
                                                <img loading="lazy" src="img/avatar.webp" alt=""
                                                    class="block-reviews__pic1">
                                                <div class="block-reviews__titles">
                                                    <div class="block-reviews__name">Анастасия Лыкова</div>
                                                    <div class="block-reviews__data">8 февраля 2025</div>
                                                </div>
                                            </div>
                                            <div data-rating data-rating-size="5" data-rating-value="4" class="rating">
                                            </div>
                                            <p>
                                                Достоинства вежливый и приятный персонал, легко записаться, мало народу
                                                Недостатки мной не обнаружены Комментарий каждый год прохожу у них
                                                медосмотр. Все происходит быстро и четко. От медперсонала только
                                                приятное отношение. Я довольна.
                                            </p>
                                        </div>
                                        <img loading="lazy" src="img/icons/logo2.svg" alt=""
                                            class="block-reviews__logo1">
                                    </a>
                                </div>
                            </div>
                            <div class="block-reviews__arrow-prev arrow-prev">
                                <img loading="lazy" src="img/icons/arrow2.svg" alt="">
                            </div>
                            <div class="block-reviews__arrow-next arrow-next">
                                <img loading="lazy" src="img/icons/arrow2.svg" alt="">
                            </div>
                            <div class="block-reviews__pagination pagination"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-about block1">
                <div class="container">
                    <div class="block-about__content">
                        <div class="block-about__body">
                            <h2 class="title2">О нашей компании</h2>
                            <div class="block-about__text">
                                <p>
                                    Компания "Краскаоптом" производит ЛКМ для строительных организаций Ивановской
                                    области с 1998 года. Основная специализация это краски, грунтовки и штукатурки на
                                    водной основе. Вся продукция имеет сертификаты государственной регистрации,
                                    соответствия санитарным нормам и соответствия стандартам пожарной безопасности (для
                                    интерьерных красок и штукатурок КМО и КМ1).
                                </p>
                                <p>
                                    Крупным заказчикам мы предлагаем индивидуальные условия сотрудничества при оптовых
                                    покупках красок и других
                                    материалов нашего производства.
                                </p>
                            </div>
                        </div>
                        <div class="block-about__image">
                            <img loading="lazy" src="img/image6.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-contacts block1">
                <div class="container">
                    <div class="block-contacts__contents">
                        <div id="map1" class="map"></div>
                        <div class="block-contacts__content">
                            <div class="block-contacts__body">
                                <div class="block-contacts__title">Связаться с нами</div>
                                <div class="block-contacts__phone">
                                    <span>Телефон</span>
                                    <a href="tel:79230398080">+7 (923) 039-80-80</a>
                                </div>
                                <a href="./" data-popup="#call" class="btn">
                                    <span>Заказать звонок</span>
                                </a>
                                <div class="block-contacts__address">
                                    <span>Адрес</span>
                                    <div class="block-contacts__text">Фрунзе 40, БЦ “Эра”, Блок А, офис 301-5</div>
                                </div>
                                <div class="socials">
                                    <a href="./">
                                        <img src="img/icons/max.svg" alt="">
                                    </a>
                                    <a href="./">
                                        <img src="img/icons/telegram.svg" alt="">
                                    </a>
                                    <a href="./">
                                        <img src="img/icons/whatsapp.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fixed-text">
                <div class="fixed-text__line"></div>
                <ul>
                    <li><strong>Краска дёшево</strong></li>
                    <li>Краски от производителя</li>
                </ul>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>