.arrow-prev {
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    left: -18px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 16px 0 rgba(20, 20, 20, 0.1);
    background: var(--white);
    cursor: pointer;
    z-index: 20;
    img {
        width: 6px;
        height: auto;
        transform: rotate(-180deg);
    }
    @media (max-width: 992px) {
        display: none;
    }
}
.arrow-next {
    position: absolute;
    z-index: 20;
    top: 50%;
    transform: translate(0px, -50%);
    right: -18px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 16px 0 rgba(20, 20, 20, 0.1);
    background: var(--white);
    cursor: pointer;
    img {
        width: 6px;
        height: auto;
    }
    @media (max-width: 992px) {
        display: none;
    }
}

.pagination {
    z-index: 10;
    justify-content: center;
    gap: 2px;
    display: none;
    margin: 16px 0px 0px 0px;
    @media (max-width: 768px) {
        display: flex;
    }
    .swiper-pagination-bullet {
        margin: 0px !important;
        opacity: 1 !important;
        position: relative;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: transparent;
        flex: 0 0 16px;
        &::before {
            content: "";
            position: absolute;
            top: 1px;
            left: 1px;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            border-radius: 50%;
            background: var(--fon);
        }
        &::after {
            content: "";
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
            width: 6px;
            height: 6px;
            background: #d6dbe4;
        }
    }
    .swiper-pagination-bullet-active {
        background: linear-gradient(319deg, rgba(103, 164, 32, 0.3) 0%, rgba(197, 221, 35, 0.3) 100%);
        &::after {
            content: "";
            background: linear-gradient(319deg, #67a420 0%, #c5dd23 100%);
        }
    }
}

.swiper-pagination-lock {
    display: none;
}
.swiper-button-lock {
    display: none;
}
.swiper-button-disabled {
    display: none;
}
