:root {
  --container-width: 1356px;
  --container-padding: 60px;
  --black: #141414;
  --fon: #f1f3f5;
  --white: #fff;
  --line: #dce3eb;
  --gray: #707d89;
  --text-black: #141414;
  --text-white: #fff;
  --text-gray: #707d89;

  --font-family: "Montserrat", sans-serif;
  --second-family: "Raleway", sans-serif;
}
